<div class="post_title">
  <h1>Welcome to CAT on Rails</h1>
</div>
<div class="post_body">
  <p>
    CAT on Rails is an application to test the abilities of an examinee. It uses
    the paradigm of adaptive testing and is written in Ruby on Rails.
  </p>
</div>