<div class="post_title">
  <h1><%= @category.content %></h1>
</div>
<div class="post_body">

  <p>
    Congratulations! You made it. The THETA "CAT on Rails" calculated for your
    test is <%= @exam.theta %>.
  </p>
  <br />
  <p>
    <img src="http://chart.apis.google.com/chart?cht=lc&chg=10,14,1,5&chco=759EBC&chds=-3,3&chxt=x,y&chxl=0:|0|<%= @num_of_items %>1:|-4|-3|-2|-1|0|1|2|3|4&chs=720x250&chd=t:0,<%= @exam.thetas %>" alt="plot" />
  </p>
</div>
